#/*
# * =====================================================================================
# *
# *		Filename:
# *			vivo_GKI.config
# *
# *		Description:
# *			vivo kernel feature config only for chinese projects for GKI_2.0
# *			(此文件定制的CONFIG只对内销项目生效，即编译内销项目时，才会取到此文件里的宏控开关)
# *
# *		Requirement:
# *			1. the config should be declared in Kconfig file and the default value should by n
# *			(所有定制的CONFIG需要在Kconfig文件中声明，且CONFIG默认值需要设置为n)
# *
# *			2. the config should be y/m in order to built-in/ko
# *			(所有定制的feature关联代码需全部使用对应CONFIG宏控开关进行条件编译，包含built-in的boot.img代码、以及built-m的ko代码)
# *
# *			3. the code under these configs should not broken the google KMI rules in principle
# *			(原则上，此文件的CONFIG管理的code不能破坏KMI规则，即需编译user模式下的boot.img通过后才能上传主线)
# *
# *
# * =====================================================================================
# */





#/*
# * =====================================================================================
# *
# *     Note: The following configs break KMI, they will be removed if CTS/VTS test fail!!!
# *     (以下的CONFIG将会break KMI，目前无法确定最终版本是否可以打开，如果CTS/VTS相关测试失败，这些CONFIG将会被移除!!!)
# *     (如果不确定CONFIG是否会影响KMI，可以将该CONFIG加至waipio_GKI.config中，编译内销gki版本boot.img，如果出现abi编译报错，则说明break KMI)
# *
# * =====================================================================================
# */
