// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2021 MediaTek Inc.
 */
/dts-v1/;
/plugin/;
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/mt6855-pinfunc.h>

&mtk_leds {
	compatible = "mediatek,disp-leds";

	backlight {
		led_mode = <4>;
		gate_enable = <1>;
		pwm_config = <0 1 0 0 0>;
		label = "lcd-backlight";
		max-brightness = <2047>;
		led-bits = <11>;
		default-state="on";
	};
};

/* Trustonic Mobicore real driver */
&mobicore {
	trustonic,real-drv = <1>;
};

&pio {
	i2c0_active: i2c0_active {
		pins_cmd0_dat {
			pinmux = <PINMUX_GPIO137__FUNC_SCL0>,<PINMUX_GPIO138__FUNC_SDA0>;
			bias-pull-up;
		};
	};
	i2c0_suspend: i2c0_suspend {
		pins_cmd0_dat {
			pinmux = <PINMUX_GPIO137__FUNC_GPIO137>,<PINMUX_GPIO138__FUNC_GPIO138>;
			bias-pull-down;
		};
	};
};

&i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	mediatek,use-open-drain;

	lm3697_i2c@36 {
		compatible = "ti,lm3697", "ktd3136";
		reg = <0x36>;
		status = "okay";
		leds_vivo,parallel_num = <3>;
		leds_vivo,hbm_current_values = /bits/ 8 <0xd 0x12 0x13 0x16>; //note: [0]=ctrl_a_fs_current,  [1]=hbm1, [2]=hbm2, [3]=hbm3
	};

	SM5109@3E {
		compatible = "SM5109";
		reg = <0x3E>;
		status = "okay";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&i2c0_active>;
		pinctrl-1 = <&i2c0_suspend>;
	};

};
&pio {
	mtkfb_pins_lcm_led_en1: lcm_led_en1_gpio {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO161__FUNC_GPIO161>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcm_led_en0: lcm_led_en0_gpio {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO161__FUNC_GPIO161>;
			slew-rate = <1>;
			output-low;
		};
	};

	mtkfb_pins_lcm_rst_out1_gpio: lcm_rst_out1_gpio {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO95__FUNC_GPIO95>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcm_rst_out0_gpio: lcm_rst_out0_gpio {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO95__FUNC_GPIO95>;
			slew-rate = <1>;
			output-low;
		};
	};

	mtkfb_pins_lcm_dsi_te: lcm_dsi_te {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO94__FUNC_DSI_TE>;
		};
	};
};

&mtkfb {
	pinctrl-names = "lcm_led_en1_gpio", "lcm_led_en0_gpio",
		"lcm_rst_out1_gpio", "lcm_rst_out0_gpio",
		"mode_te_te";
	pinctrl-0 = <&mtkfb_pins_lcm_led_en1>;
	pinctrl-1 = <&mtkfb_pins_lcm_led_en0>;
	pinctrl-2 = <&mtkfb_pins_lcm_rst_out1_gpio>;
	pinctrl-3 = <&mtkfb_pins_lcm_rst_out0_gpio>;
	pinctrl-4 = <&mtkfb_pins_lcm_dsi_te>;
	status = "okay";
};

&dispsys_config {
	pinctrl-names =
		"lcm_rst_out1_gpio", "lcm_rst_out0_gpio",
		"mode_te_te";
	pinctrl-0 = <&mtkfb_pins_lcm_rst_out1_gpio>;
	pinctrl-1 = <&mtkfb_pins_lcm_rst_out0_gpio>;
	pinctrl-2 = <&mtkfb_pins_lcm_dsi_te>;
	status = "okay";
};

&dsi0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	switch_fps = <120>;
	panel1@0 {
		compatible = "tm,nt36672e,vdo,120hz";
		reg = <0>;
		lcm_backlight_en-gpios = <&pio 134 0>;
		reset-gpios = <&pio 95 0>;
		gate-ic = <0>;
		lcm_enp-gpios = <&pio 183 0>;
		lcm_enn-gpios = <&pio 182 0>;
		rc-enable = <1>;
		pinctrl-names = "default";
		port {
			panel_in1: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
		vivo_panel_power_on {
			type =
				"gpio,high", "lcm_backlight_en-gpios",
				"gpio,high", "lcm_enp-gpios",
				"delay,usleep", "4180 4380",
				"gpio,high", "lcm_enn-gpios";
		};

		vivo_panel_power_off {
			type =
				"gpio,low", "lcm_enn-gpios",
				"delay,usleep", "5180 5380",
				"gpio,low", "lcm_enp-gpios",
				"delay,usleep", "4180 4380",
				"gpio,low", "lcm_backlight_en-gpios";
		};

		vivo_panel_reset {
			type =
				"delay,usleep", "5000 5100",
				"gpio,low", "reset-gpios",
				"delay,usleep", "5000 5100",
				"gpio,high", "reset-gpios",
				"delay,usleep", "1000 1100",
				"gpio,low", "reset-gpios",
				"delay,usleep", "5000 5100",
				"gpio,high", "reset-gpios",
				"delay,usleep", "12000 12100";
		};

		vivo_panel_shutdown {
			type =
				"delay,usleep", "3300 3800",
				"gpio,low", "reset-gpios",
				"delay,usleep", "2300 2800",
				"gpio,low", "lcm_enn-gpios",
				"delay,usleep", "5180 5380",
				"gpio,low", "lcm_enp-gpios",
				"delay,usleep", "4180 4380",
				"gpio,low", "lcm_backlight_en-gpios";
		};
	/* vivo panel power control end */
	};
	panel2@0 {
		compatible = "hx,nt36672c,vdo,120hz";
		reg = <1>;
		lcm_backlight_en-gpios = <&pio 134 0>;
		reset-gpios = <&pio 95 0>;
		gate-ic = <0>;
		lcm_enp-gpios = <&pio 183 0>;
		lcm_enn-gpios = <&pio 182 0>;
		rc-enable = <1>;
		pinctrl-names = "default";
		port {
			panel_in2: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
		vivo_panel_power_on {
			type =
				"gpio,high", "lcm_backlight_en-gpios",
				"gpio,high", "lcm_enp-gpios",
				"delay,usleep", "4180 4380",
				"gpio,high", "lcm_enn-gpios";
		};

		vivo_panel_power_off {
			type =
				"gpio,low", "lcm_enn-gpios",
				"delay,usleep", "5180 5380",
				"gpio,low", "lcm_enp-gpios",
				"delay,usleep", "4180 4380",
				"gpio,low", "lcm_backlight_en-gpios";
		};

		vivo_panel_reset {
			type =
				"delay,usleep", "5000 5100",
				"gpio,low", "reset-gpios",
				"delay,usleep", "5000 5100",
				"gpio,high", "reset-gpios",
				"delay,usleep", "1000 1100",
				"gpio,low", "reset-gpios",
				"delay,usleep", "5000 5100",
				"gpio,high", "reset-gpios",
				"delay,usleep", "12000 12100";
		};

		vivo_panel_shutdown {
			type =
				"delay,usleep", "3300 3800",
				"gpio,low", "reset-gpios",
				"delay,usleep", "2300 2800",
				"gpio,low", "lcm_enn-gpios",
				"delay,usleep", "5180 5380",
				"gpio,low", "lcm_enp-gpios",
				"delay,usleep", "4180 4380",
				"gpio,low", "lcm_backlight_en-gpios";
		};
	/* vivo panel power control end */
	};

	ports {
		port {
			dsi_out: endpoint {
				remote-endpoint = <&panel_in1>;
			};
		};
	};
};

/* GPS GPIO standardization start */
&pio {
	gps_pins_default: gps_default {
	};
	gps_l1_lna_pins_ol: gps_l1_lna@0 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO133__FUNC_GPIO133>;
			output-low;
		};
	};
	gps_l1_lna_pins_dsp_ctrl: gps_l1_lna@1 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO133__FUNC_GPS_L1_ELNA_EN>;
		};
	};
	gps_l1_lna_pins_oh: gps_l1_lna@2 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO133__FUNC_GPIO133>;
			output-high;
		};
	};
	gps_l5_lna_pins_ol: gps_l5_lna@0 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO134__FUNC_GPIO134>;
			output-low;
		};
	};
	gps_l5_lna_pins_dsp_ctrl: gps_l5_lna@1 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO134__FUNC_GPS_L5_ELNA_EN>;
		};
	};
	gps_l5_lna_pins_oh: gps_l5_lna@2 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO134__FUNC_GPIO134>;
			output-high;
		};
	};
};
&gps {
	pinctrl-names = "default",
		"gps_l1_lna_disable",
		"gps_l1_lna_dsp_ctrl",
		"gps_l1_lna_enable",
		"gps_l5_lna_disable",
		"gps_l5_lna_dsp_ctrl",
		"gps_l5_lna_enable";
	pinctrl-0 = <&gps_pins_default>;
	pinctrl-1 = <&gps_l1_lna_pins_ol>;
	pinctrl-2 = <&gps_l1_lna_pins_dsp_ctrl>;
	pinctrl-3 = <&gps_l1_lna_pins_oh>;
	pinctrl-4 = <&gps_l5_lna_pins_ol>;
	pinctrl-5 = <&gps_l5_lna_pins_dsp_ctrl>;
	pinctrl-6 = <&gps_l5_lna_pins_oh>;
	status = "okay";
};
/* GPS GPIO standardization end */

//#include "mediatek/cust_mt6855_camera_v4l2.dtsi"
#include "mediatek/cust_mt6855_camera_PD2219.dtsi"

&i2c6 {
	spk: speaker_amp@5c {
		compatible = "richtek,rt5512";
		#sound-dai-cells = <0>;
		reg = <0x5c>;
		status = "okay";
		sound-name-prefix = "Left";
	};
};

&i2c6{
	status = "okay";
	clock-frequency = <400000>;

	aw881xx_smartpa: aw881xx_smartpa@34 {
		compatible = "awinic,aw881xx_smartpa";
		#sound-dai-cells = <0>;
		reg = <0x34>;
		reset-gpio = <&pio 162 0>;
		//irq-gpio = <&pio 5 0>;

		re-min = <6000>;
		re-max = <10000>;
		aw-cali-check = <1>;

		vivo,Type = "speaker";
		vivo,Impedance-Min-mo = <6000>;
		vivo,Impedance-Max-mo = <10000>;
		vivo,Frequency-Min-hz = <500>;
		vivo,Frequency-Max-hz = <1000>;
		vivo,Qt-Min-1000 = <1000>;

		status = "okay";
	};
};

&odm {
	vivo-codec-common {
		compatible = "vivo,vivo-codec-common";
		status = "okay";
	};
};

&sound {
	vivo,product-model = "PD2219";
	mediatek,spk-i2s = <3 0>;
	mediatek,speaker-codec {
		sound-dai = <&aw881xx_smartpa>;
	};
};


&accdet {
	accdet-mic-vol = <7>; //2.7v
	accdet-mic-mode = <1>; //ACC
	headset-key-mode = <1>; //0:ACCDET_THREE_KEY 1:ACCDET_FOUR_KEY
	headset-four-key-threshold = <0 62 106 220 447>; //modified by duanyitao for PD2219
	headset-use-ap-eint = <1>; //0:ACCDET_PMIC_EINT_IRQ 1:ACCDET_AP_GPIO_EINT
	headset-mode-setting = <0x500 0x500 1 0x1f0
				0x800 0x800 0x4000 0x44
				0x4 0x1
				0x5 0x3 0x3 0x5 0xe>;
	accdet-plugout-debounce = <16>;
	headset-eint-num = <3>;//disable ACCDET_PMIC_EINT0
	interrupt-parent = <&pio>;
	interrupts = <21 IRQ_TYPE_LEVEL_LOW>;
	interrupt-names = "ap_eint";
	deb-gpios = <&pio 21 0>;
	debounce = <256000>;
	pinctrl-names = "default", "state_eint_as_int";
	pinctrl-0 = <&accdet_pins_default>;
	pinctrl-1 = <&accdet_pins_eint_as_int>;
	status = "okay";
};
&odm {
	vivo-audio-ktv@0 {
		compatible = "vivo,vivo-audio-ktv";
		status = "okay";
	};
};

&pio {
	accdet_pins_default: accdetdefault {
	};
	accdet_pins_eint_as_int: accdeteint@0 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO21__FUNC_GPIO21>;
			slew-rate = <0>;
			bias-disable;
		};
	};
};

&pdc {
	pd_vbus_upper_bound = <12000000>;
};

/* usb typec mux start */
&mt6375_typec {
	/* 0: Unknown, 1: SNK, 2: SRC, 3: DRP, 4: Try.SRC, 5: Try.SNK */
	tcpc,role_def = <1>;
	vivo-wd0-detection;
	tcpc,en_floatgnd;
};
/* add for proximity led by sensor team begin */
&mt6369_vio28 {
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
	regulator-always-on;
};
/* add for proximity led by sensor team end*/

/* add by sensor team for SAR Power begin*/
&pio {
	sar_power_state: sar_power_rf_detect {
		pins_cmd0_dat {
			pinmux = <PINMUX_GPIO17__FUNC_GPIO17>,<PINMUX_GPIO18__FUNC_GPIO18>,<PINMUX_GPIO19__FUNC_GPIO19>;
			slew-rate = <0>;
			bias-disable;
		};
	};
};

&sar_power {
	status="okay";
	pinctrl-names = "default";
	pinctrl-0 = <&sar_power_state>;
	sar-power-rf-detect,gpios= <&pio 17 0x0>;
	sar-power-rf-detect_1,gpios= <&pio 19 0x0>;
	sar-power-rf-detect_2,gpios= <&pio 18 0x0>;
};
/* add by sensor team for SAR Power end*/

//#include <k6855v1_64/cust.dtsi>
#include "mediatek/cust_vivo_PD2219.dtsi"
#include "mediatek/bat_setting/cust_vivo_charge_PD2219.dtsi"
#include "mediatek/fingerprint/mt6855-vivo-fp-PD2219.dtsi"
#include "mtk-vivo-tp-PD2219.dtsi"
/*End of this file, DO NOT ADD ANYTHING HERE*/
